#myform {
  margin: auto;
  display: flex;
  width: 90vw;
  align-content: center;
}
input[type="checkbox" i]{
  margin:none;
}
#App{
  margin: auto;
  padding:10px;
  display: flex;
  flex-direction: column;
  width: 25vw;
}
body{
  display: flex;
  justify-items: center;
  max-width: 500px;
}
#myBtn{
  margin:5px 0px 5px;
}
#checkbox{
  width: 1.5em;
  height: 3em;
}
#contacted{
  display: flex;
  align-items: center;
  padding: 5px 0px 5px;
  justify-content: center;
}
#success{
  display:none;
  padding: 50px;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
